@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}


body {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 19px;
    background-color: #FFFFFF;
}


.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0;
} 


.page-header {
    background-color: #FFE17F;
}


.form-search-search {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}


.navigation-item {
    Width : 1075px;
}


.user-menu {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}


.navigation-list {
    width: 1041px;
}


.navigation-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}


.main-index {
    width: 1160px;
}


